language: java
jdk:
  - oraclejdk7
  - oraclejdk8

env:
  - CDI=cdi-1.1
  - CDI=cdi-1.2
  - CDI=cdi-2.0

matrix:
  exclude:
    - jdk: oraclejdk7
      env: CDI=cdi-2.0

script:
  - mvn test -P${CDI} branch_pattern: coverity_scan