dist: bionic
group: edge

addons:
  sonarcloud:
    organization: "guhilling-github"
    token:
      secure: "PIVBggt+JPplyg9oy6BZwQH2zHSFEsPdTlaJcXXEbnumfGzRbcq4Dr1FXzWn1ZOas9cPv0tG5YHbMhTYvettSLssAWI12LzgcjdvlqFrn4PYwa4zux+xJYxfgHdrIay6sm4FfS59ERz5oC8BBab5rxBCSWsONYrw0lO1esYw4Wk="

language: java

jdk:
  - openjdk8
  - openjdk11
  - openjdk13

script:
  - mvn test

cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'
